# Server Configuration
PORT=4000
NODE_ENV=development
APP_URL=http://localhost:3000

# Database Configuration (PostgreSQL)
DATABASE_URL="postgresql://user:password@localhost:5432/gamex?schema=public"

# Authentication
JWT_SECRET=
JWT_EXPIRES_IN="7d"

# Admin Initial Credentials (used for seeding)
ADMIN_EMAIL=
ADMIN_PASSWORD=

# RAWG API Configuration
RAWG_BASE_URL="https://api.rawg.io/api"
RAWG_API_KEY=

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Gemini AI Configuration
GEMINI_API_KEY=

# Vite Configuration
DISABLE_HMR=false
